
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
 /* Default CSS */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, span, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
 }
 body{
	font-family: 'Raleway', sans-serif;
	 background: #111010;
 }
 table {
	border-collapse: collapse;
	border-spacing: 0;
 }
 button{
   outline: none !important;
 }
 input
 {
	 outline:none !important;
 }
 
 h1,h2,h3,h4,h5,h6,p{
   margin:0;
   padding:0;
 }
 input, button, textarea, select{
   outline: none;
 }
 .btn.focus, .btn:focus {
   outline: none;
   -webkit-box-shadow: none !important;
		   box-shadow: none !important;
 }
 
 ul{
   margin:0;
   padding: 0;
   list-style: none;
 }
 a{
   margin:0;
   padding:0;
   text-decoration: none;
 }
 a:hover{
   text-decoration: none;
 }
 
 
 /* sidebar csss  */
 
 .main-area {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
		 -ms-flex-pack: justify;
			 justify-content: space-between;
	 height: 100vh;
	 overflow: hidden;
 }
 
 .sidebar-area {
	 /* flex: 0 0 18%; */
	 height: 100vh;
	 background: #111;
	 padding: 0 20px 20px 20px;
	 -webkit-box-sizing: border-box;
			 box-sizing: border-box;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
		 -ms-flex-direction: column;
			 flex-direction: column;
	 -webkit-box-pack: justify;
		 -ms-flex-pack: justify;
			 justify-content: space-between;
	 width: 240px !important;
	 overflow-y: scroll;
	 scrollbar-width: none; 
 }
 .sidebar-area::-webkit-scrollbar {
	display: none;
  }
 



 .logo {
	 text-align: center;
	 margin-bottom: 10px;
 }
 
 .menu ul li a {
	color: #FFF; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px; /* 65% */
	 padding: 10px 13px;
	 display: block;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 gap: 26px;
	 /* width: 165px; */
	 border-radius: 10px;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;

	transition: 0.3s;
 }
 
 .menu ul li a.active, .menu ul li a:hover { 
	 color: rgba(251, 29, 28, 0.50);; 
 }
 
 .mt-custom {
	 margin-top: 40px;
	 padding-top: 40px;
	 border-top: 1px solid #f2f2f2;
 }
 .menu ul li {
	 margin-bottom: 20px;
 }
 .margin_bttm {
	 margin-bottom: 25px !important;
 }
 
 
 .logo a {
	 font-size: 30px;
	 font-weight: 700;
	 color: #0D0F5A;
	 margin: 0;
	 display: inline-block;
 }
 .menu span {
	 font-size: 12px;
	 color: #9C9C9C;
	 margin-bottom: 16px;
	 display: inline-block;
	 margin-left: 15px;
 }
 
 .menu ul li a i {
	 font-size: 14px;
 }
 
 .noti_btn {
	 width: 35px;
	 height: 35px;
	 background: #fff;
	 display: block;
	 font-size: 18px;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
		 -ms-flex-pack: center;
			 justify-content: center;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;
	 border-radius: 5px;
	 color: #9C9C9C;
 }
 
 
 /* main content css  */
 /* header css  */
 
 .main-content-area {
	 -webkit-box-flex: 0;
		 -ms-flex: 0 0 calc(100% - 240px);
			 flex: 0 0 calc(100% - 240px);
	 background: #111010;
	 height: 100vh;
	 padding: 30px;
	 -webkit-box-sizing: border-box;
			 box-sizing: border-box;
	 overflow-y: scroll;
	 scrollbar-width: none;
 }
 
 .mobile_overlay_after{
	 position: relative;
 }
 
 .mobile_overlay_after::after {
	 content: "";
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: #000;
	 opacity: 0.43; 
 }
 
 .header-title {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;
	 gap: 15px;
 }
 .sidebar_close,
 .bars_icon{
	 display: none;
 }
 .bars_icon i {
	 color: #E02D3C;
	 font-size: 22px;
 }
 
 .sidebar_close i {
	 position: absolute;
	 right: 0;
	 width: 35px;
	 height: 35px;
	 background: #E02D3C;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
		 -ms-flex-pack: center;
			 justify-content: center;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;
	 font-size: 22px;
	 text-decoration: none;
	 color: #fff;
	 top: 0;
 }
 
 .header-area {
	background: #111111;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
		 -ms-flex-pack: justify;
			 justify-content: space-between; 
   -webkit-box-align: center; 
	   -ms-flex-align: center; 
		   align-items: center;
 }

 .header_user h3 {
	color: #CCC; 
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.header_user span {
	color: #FFF; 
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
 
 .header-title h3 {
	 font-style: normal;
	 font-weight: 700;
	 font-size: 24px;
	 line-height: 30px;
	 letter-spacing: 0.3px;
	 color: #252733;
 }
 
 .header-user {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;
 }
 
 .header-user > ul {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;
	 gap: 10px;
 }
 
 .mr-border {
	 margin-right: 15px;
	 border-right: 1px solid #ddd;
	 padding-right: 15px;
 }
 
 .header-user-img a {
	 font-style: normal;
	 font-weight: 600;
	 font-size: 14px;
	 line-height: 20px;
	 text-align: right;
	 letter-spacing: 0.2px;
	 color: #252733;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
		 -ms-flex-align: center;
			 align-items: center;
	 gap: 9px;
 }
 
 .sidebar_user a img {
	 width: 40px;
	 height: 40px;
	 border-radius: 50%;
 }

 .content_single {
	border-radius: 15px;
	background: #161616;
	padding: 27px 35px;
	text-align: center;
}

.content_single h4 {
	color: #E02D3C;
	text-align: center; 
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.48px;
	text-transform: capitalize;
}

.content_single > p {
	color: #FFF;
	text-align: center; 
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.4px;
	text-transform: capitalize;
	margin: 33px 0 45px 0;
}

.single_ul li p {
	color: #FFF;
	text-align: center; 
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.48px;
	text-transform: capitalize;
}

.btn_purchase {
	border-radius: 8px;
	background: var(--Danger-700, #E02D3C);
	padding: 12px 16px;
	color: var(--text-icon-primary-white, #FFF);
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.4px;
	text-transform: capitalize;
	transition: 0.3s;
	margin-top: 31px;
	display: inline-block;
}

.btn_purchase:hover { 
	opacity: 0.83;
	color: var(--text-icon-primary-white, #FFF);
}
 
.content_single > p span{ 
	font-size: 48px;
	color: #E02D3C;
}

.single_ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 36px;
}

.conten_row {
	display: flex;
	flex-wrap: wrap;
	gap: 0 108px;
	/* justify-content: space-between; */
}

.message_box {
	text-align: right;
}
 
.content_single{
	margin-bottom: 38px;
	flex: 0 0 22%;
}

 .sidebar_user{
	text-align: center;
 }

 .sidebar_user a img{
	width: 24px;
 }

 .sidebar_user a {
	background: #2D2D2D;
	border-radius: 5px;
	text-align: center;
	color: #AEAEAE;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	margin-top: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 18px;
	gap: 15px;
}
 
 .user_cont h4 {
	 font-size: 15px;
	 font-weight: 700;
	 color: #313131;
 }
 
 .user_cont span {
	 font-size: 14px;
 }
 
 
 
 
 
 .account-status .account-card-title { 
	 padding: 32px 32px 0px 32px;
	 margin-bottom: 0px;
 }
 
 .table tbody tr td > p { 
	 margin-top: -15px;
 }
 
 .header-user ul li {
	 position: relative;
 }
 
 .noti-toggle {
	 position: absolute;
	 background: #fff;
	 padding: 23px;
	 border-radius: 8px;
	 right: 0;
	 top: 100%;
	 border: 1px solid #DFE0EB;
	 width: 180px;
	 display: none;
	 z-index: 99;
 }
 
 .noti-toggle > ul {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
		 -ms-flex-direction: column;
			 flex-direction: column; 
	 -ms-flex-wrap: wrap; 
		 flex-wrap: wrap;
 }
 
 .noti-toggle ul li{
	 margin-bottom: 12px;
 }
 
 .noti-toggle ul li h3 {
	 font-style: normal;
	 font-weight: 600;
	 font-size: 16px;
	 line-height: 20px;
	 letter-spacing: 0.2px;
	 color: #252733;
 }
 
 .noti-toggle ul li p {
	 font-style: normal;
	 font-weight: 600;
	 font-size: 12px;
	 line-height: 20px; 
	 letter-spacing: 0.2px;
	 color: #9FA2B4;
 }
 
 
  
 .search-box {
	 font-size: 30px;
	 padding: 14px 19px;
	 border: 1px solid #C1C1C1;
	 background-color: white;
	 width: 9.8em;
	 border-radius: 10px;
	 -webkit-transition: .2s;
	 -o-transition: .2s;
	 transition: .2s;
   }
   
   .search-box:hover {
	 border-color: #AAAAAA;
   }
 
   .search-field-box button {
	 position: relative;
	 background: none;
	 border: none;
	 padding: 0;
	 width: 100%;
 }
   
   .search-box:focus-within {
	 border-color: #FF0080;
	 -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
			 box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
   }
   
   .search-field-box input {
	 letter-spacing: -0.2px;
	 font-size: 30px;
	 border: none;
	 color: #323232;
	 border-radius: 8px;
	 padding: 9px 37px 9px 9px;
	 /* border: 1px solid #C1C1C1; */
	 font-size: 16px;
	 vertical-align: 4px;
	 width: 255px;
 }
   
   .search-field-box button:hover {
	 cursor: pointer;
   }
   
   .search-field-box input:focus {
	 outline: none;
   }
   
   .search-field-box input[type='search']::-webkit-search-cancel-button {
	   -webkit-appearance: none;	
   }
   
   .clear:not(:valid) ~ .search-clear {
	   display: none;
   }
 
   .searc_icon {
	 position: absolute;
	 top: 14px;
	 right: 14px;
 }
 
 .search-field-box {
	 margin-top: -24px;
 }
 
 .header_user span {
	 color: #9C9C9C;
	 font-size: 14px; 
	 margin-top: 4px;
	 display: inline-block;
 }
 .main_content {
	 margin-top: 30px;
 }
 

 /* Dashboad CSS  */

 .single_dasbord_count {
	border-radius: 4.997px;
	background: #1C1C1C;
	padding: 32px 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dasbord_cont h3 {
	color: var(--Dark-Version-Surface-Neutral, #FFF);
	font-family: 'DM Sans', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.dasbord_cont p {
	color: var(--Dark-Version-Surface-Neutral-2, #ABADBF);
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.dasbord_cont {
	flex: 0 0 62%;
	text-align: center;
}

.chart_1_box{
	margin: 41px 0;
}

.chart_card {
	border-radius: 4.997px;
	background: #131313;
	padding: 25px 38px;
	height: 100%;
}

.chart_2 img {
	width: 100%;
}

.chart_1_box{
	margin: 20px 0;
}

.chart_1 img {
	width: 100%;
}

.chart_card h3 {
	color: var(--Dark-Version-Surface-Neutral, #FFF);
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 37px;
}

.chart_card ul li b {
	color: var(--Dark-Version-Surface-Neutral, #FFF);
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	flex: 0 0 104px;
}

.chart_card ul li {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 12px;
}

.chart_card ul li p {
	color: var(--Dark-Version-Surface-Neutral-2, #ABADBF);
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}



/* font-family: 'DM Sans', sans-serif; */